@import "variables"

@mixin mixin-clear-button()
  background: none
  text-decoration: none
  border: none
  outline: none
  cursor: pointer
  text-transform: uppercase
  transition: $effect-transition

@mixin mixin-shadow()
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05)

@mixin mixin-overflow-ellipsis()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
