@import "variables"

@mixin mixin-clear-button()
  background: none
  text-decoration: none
  border: none
  outline: none
  cursor: pointer
  text-transform: uppercase
  transition: $effect-transition

@mixin mixin-shadow($shadow: 0 8px 20px rgba(0, 0, 0, 0.1))
  box-shadow: $shadow

@mixin mixin-overflow-ellipsis()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

@mixin mixin-card($padding: $layout-padding-md $layout-padding-lg,$margin-left: 0)
  @include mixin-shadow
  background-color: $color-white
  border-radius: $border-radius-md
  padding: $padding
  margin-left: $margin-left
