// Colors
$color-background: #eff0f4
$color-black: #20222e
$color-white: #ffffff
$color-purple: #5a35b8
$color-green: #35b7b5
$color-red: #d63e3e
$color-gray: #9091a5
$color-gray-light: #eff0f4
$color-disabled: #a4a5b9

// Borders
$border-radius-xs: 6px
$border-radius-sm: 10px
$border-radius-md: 16px
$border-radius-lg: 30px

// Effects
$effect-transition: .3s ease-in-out

// Layout
$layout-padding-xs: 6px
$layout-padding-sm: 10px
$layout-padding-md: 18px
$layout-padding-lg: 30px

$layout-sidebar-height: calc(100vh - 36px)
$layout-sidebar-width: 240px

$layout-square-size: 100px

// Fonts
$font-size-xs: 0.7rem
$font-size-sm: 0.9rem
$font-size-md: 1.1rem
$font-size-lg: 1.6rem

