// Colors
$color-background: #eff0f4
$color-black: #20222e
$color-white: #ffffff
$color-purple: #5a35b8
$color-green: #35b7b5
$color-red: #d63e3e
$color-gray: #a3a4b9
$color-gray-light: #eff0f4
$color-disabled: #a4a5b9

// Effects
$effect-transition: .3s ease-in-out

// Layout
$layout-padding-xs: 4px
$layout-padding-sm: 8px
$layout-padding-md: 16px
$layout-padding-lg: 30px

// Fonts
$font-size-xs: 0.8rem
$font-size-sm: 1rem
$font-size-md: 1.2rem
$font-size-lg: 1.8rem
