<div class="es-card" *ngIf="form">
  <form class="es-form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="es-form-field-container">
      <!-- name -->
      <app-char-field
        [submitted]="submitted"
        [formGroup]="form"
        fieldName="name"
        fieldLabel="FORM.NAME"
        fieldPlaceholder="FORM.NAME"
      ></app-char-field>

      <!-- category -->
      <app-char-field
        [submitted]="submitted"
        [formGroup]="form"
        fieldName="category"
        fieldLabel="FORM.CATEGORY"
        fieldPlaceholder="FORM.CATEGORY"
      ></app-char-field>

      <!-- price -->
      <app-numeric-field
        [submitted]="submitted"
        [formGroup]="form"
        fieldName="price"
        fieldLabel="FORM.PRICE"
        fieldPlaceholder="FORM.PRICE"
      ></app-numeric-field>

      <!-- quantity -->
      <app-numeric-field
        [submitted]="submitted"
        [formGroup]="form"
        fieldName="quantity"
        fieldLabel="FORM.QUANTITY"
        fieldPlaceholder="FORM.QUANTITY"
      ></app-numeric-field>

      <!-- description -->
      <app-textarea-field
        [submitted]="submitted"
        [formGroup]="form"
        fieldName="description"
        fieldLabel="FORM.DESCRIPTION"
        fieldPlaceholder="FORM.DESCRIPTION"
      ></app-textarea-field>

      <!-- image -->
      <app-image-field
        [submitted]="submitted"
        [formGroup]="form"
        fieldName="imageUrl"
        fieldLabel="FORM.IMAGE"
      ></app-image-field>
    </div>
  </form>
</div>

<div class="es-form-footer" *ngIf="form">
  <app-button
    (clicked)="navigateToParent()"
    [text]="'GENERAL.CANCEL' | translate"
    [style]="style.simple"
    [type]="buttonType.Simple"
  ></app-button>

  <app-button
    (clicked)="submit()"
    [text]="'GENERAL.SAVE' | translate"
    [style]="style.success"
    [type]="buttonType.Simple"
  ></app-button>
</div>
