<div class="es-order-form">
  <!-- Products -->
  <div class="es-order-products" *ngIf="items">
    <app-category
      [categories]="categories"
      [activeCategory]="activeCategory"
      (clicked)="filterByCategory($event)"
    ></app-category>

    <app-order-product
      *ngFor="let product of items"
      [id]="product.id"
      [title]="product.name"
      [imageUrl]="product.imageUrl"
      [category]="product.category"
      [price]="product.price"
      [quantity]="product.quantity"
      [currencySymbol]="currencySymbol"
      [isOrderDetail]="false"
      (edit)="onProductActions($event, product)"
    ></app-order-product>
  </div>

  <!-- Detail  -->
  <app-order-detail
    [products]="order.products"
    [currencySymbol]="currencySymbol"
    (formValues)="updateCustomer($event)"
  ></app-order-detail>

  <!-- Footer -->
  <div class="es-form-footer">
    <app-button
      (clicked)="submit()"
      [disabled]="!isValid"
      [text]="'GENERAL.SAVE' | translate"
      [style]="style.success"
      [type]="buttonType.Simple"
    ></app-button>

    <app-button
      (clicked)="navigateToParent()"
      [text]="'GENERAL.CANCEL' | translate"
      [style]="style.simple"
      [type]="buttonType.Simple"
    ></app-button>
  </div>
</div>
