<div class="es-order-form">
  <div *ngIf="items">
    <app-category
      [categories]="categories"
      [activeCategory]="activeCategory"
      (clicked)="filterByCategory($event)"
    ></app-category>

    <app-order-product
      *ngFor="let product of items"
      [id]="product.id"
      [title]="product.name"
      [imageUrl]="product.imageUrl"
      [category]="product.category"
      [price]="product.price"
      [quantity]="product.quantity"
      [currencySymbol]="currencySymbol"
      [isOrderDetail]="false"
      (edit)="onProductActions($event, product)"
    ></app-order-product>
  </div>

  <app-order-form-detail></app-order-form-detail>
</div>
