<div *ngIf="items">
  <app-category
    [categories]="categories"
    [activeCategory]="activeCategory"
    (clicked)="filterByCategory($event)"
  ></app-category>

  <app-product
    *ngFor="let product of items"
    [id]="product.id"
    [title]="product.name"
    [imageUrl]="product.imageUrl"
    [category]="product.category"
    [price]="product.price"
    [quantity]="product.quantity"
    [currencySymbol]="currencySymbol"
    (delete)="openDeleteItemModal(product.id)"
  ></app-product>
</div>
