<div *ngIf="products">
  <app-category
    [categories]="productCategories"
    [activeCategory]="productActiveCategory"
    (clicked)="filterByCategory($event)"
  ></app-category>

  <app-product
    *ngFor="let product of products"
    [id]="product.id"
    [title]="product.name"
    [imageUrl]="product.imageUrl"
    [category]="product.category"
    [price]="product.price"
    [quantity]="product.quantity"
    [currencySymbol]="currencySymbol"
    (delete)="(null)"
  ></app-product>

  <!-- TODO: add paginator and delete flow -->
  <app-paginator
    [currentPage]="currentPage"
    [totalOfPages]="totalOfPages"
    (changePage)="changePage($event)"
  ></app-paginator>
</div>
