@import "variables"
@import "mixins"

.es-paginator
  display: grid
  grid-template-columns: max-content auto repeat(4, 24px)
  gap: $layout-padding-sm
  margin: $layout-padding-sm

  .es-paginator-control
    @include mixin-clear-button

    svg
      fill: $color-black

      svg
        fill: $color-gray
