<div class="es-sidebar">
  <!-- sidebar header: logo and app version -->
  <div class="es-sidebar-header">
    <a routerLink="/" class="es-sidebar-logo">
      <img src="assets/logo.png" alt="Espacio" />
    </a>
    <div class="es-version">V. {{ appVersion }}</div>
  </div>

  <!-- menu -->
  <div class="es-sidebar-menu" *ngIf="pendingOrders">
    <app-button
      *ngFor="let item of menu"
      [text]="item.text"
      [textArgs]="item.icon === 'Order' ? pendingOrders : null"
      [route]="item.route"
      [type]="item.type"
      [iconName]="item.icon"
    >
    </app-button>
  </div>

  <!-- sidebar footer: store logo and name, and sign out button -->
  <div class="es-sidebar-footer" *ngIf="store">
    <div class="es-sidebar-store-logo">
      <img [src]="store.imageUrl" [alt]="store.abbreviation" />
    </div>
    <div class="es-sidebar-store-name">
      {{ store.name }}
    </div>
    <div class="es-sidebar-sign-out">
      <app-button [text]="'AUTH.SIGN_OUT'" [type]="buttonType.Link">
      </app-button>
    </div>
  </div>
</div>
