@import 'variables'
@import 'mixins'

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

*
  margin: 0
  padding: 0
  outline: none!important
  box-sizing: border-box

body
  margin: 0
  font-family: 'Roboto', sans-serif
  font-size: 10px
  color: $color-black
  background-color: $color-background

.es-main
  display: grid
  grid-template-columns: 240px auto
  grid-template-rows: 100px auto
  gap: $layout-padding-md
  padding: $layout-padding-md
  height: 100vh
  max-height: 100vh
  overflow: auto

  app-sidebar
    grid-column: 1
    grid-row: 1 / 3

    position: absolute
    height: calc(100vh - #{$layout-padding-md * 2})
    width: 240px
    top: $layout-padding-md
    background: cornsilk

  app-header
    grid-column: 2
    grid-row: 1
    background: cornsilk

  .es-main-content
    grid-column: 2
    grid-row: 2
    height: 100vh
